<div class="f-col f-col-lg-4 visible-lg">
    <div class="b_header">
        <h3>Информация</h3>
    </div>
    <div class="info_block">
        <ul class="info_links list-unstyled">
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</div>